.page-header {
  background: url("../img/background.png") no-repeat $background-black;
  background-size: 100% 100%;

  @media (max-width: $tablet) {
    background: url("../img/background_tablet.png") no-repeat $background-black;
    background-size: contain;
    background-position: top left;

    &--nojs {
      background-position: 0 240px;
      background-size: contain;
    }
  }

  @media (max-width: $mobile) {
    background: url("../img/background_mobile.png") no-repeat $background-black;
    background-size: 100% 50%;

    &--nojs {
      background-position: 0 243px;
    }
  }
}
