.page-header {
  background: url("../img/background.png") center no-repeat;

  @media (max-width: $tablet) {
    background: url("../img/background_tablet.png") no-repeat;
    background-size: contain;
    background-position: top left;

    &--nojs {
      background-position: 0 240px;
      background-size: contain;
    }
  }
}
