$white: #ffffff;
$black: #000000;
$background: #e5e5e5;
$grey: #c9ccd4;
$lightblue: #0ad9c6;
$background-additional: #f6f7f9;
$black-additional: #1f1f1f;
$background-black: #131314;
$link-tablet: #48494d;
$link-background: #f6f6f6;
$input-color: #1c1c1c;
$red: #ff0000;
$pink: #fe7865;

$tablet: 1023px;
$mobile: 767px;
